body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif
}

.w3-theme-l1 {
    color: #fff !important;
    background-color: #00539B !important;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #f8f9fa;
        color: #212529;
    }

    .w3-card {
        background-color: #fff;
    }

    .w3-tag {
        background-color: #00539B;
        color: #fff;
    }
}