# Titan V3 Quantitative Dependencies
yfinance>=0.2.31
pandas>=2.0.0
numpy>=1.24.3
scipy>=1.11.1
tensorflow>=2.13.0
opencv-python-headless>=4.8.0 

# Flask
# PyPDF2
# fpdf
# transformers
# torch
# numpy
# python-dotenv
