body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.w3-sidebar {
    width: 120px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Style for smaller text */
.w3-small {
    font-size: 0.8em !important;
}

/* Hide the hamburger menu by default on larger screens */
#mobile-menu {
    display: none;
}
