.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 80vh;
    overflow-y: scroll;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
}

.parallax {
    /* The image used */
    background-image: url("https://www.wallpaperflare.com/static/720/613/220/nfl-american-football-football-field-wallpaper.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
