body {
    font-family: sans-serif;
    margin: 2em;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
}

#loader {
    text-align: center;
    font-size: 1.2em;
    margin: 2em;
}

#data-container {
    margin: 0 auto;
    width: 80%;
}

#chart-container {
    margin: 2em auto;
    width: 80%;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

th, td {
    padding: 0.75em;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: #007bff;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#pagination-container {
    text-align: center;
    margin-top: 2em;
}

#pagination-container a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

#pagination-container a.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

#pagination-container a:hover:not(.active) {
    background-color: #ddd;
}
