body {
    font-family: Arial, sans-serif;
}

#golf-course {
    background-color: #228B22; /* Forest Green */
    border: 1px solid #000;
}

.ball {
    fill: white;
}

.hole {
    fill: black;
}

.parallax {
  /* The image used */
  background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
