body {
  font-family: sans-serif;
  text-align: center;
}

video {
  border: 1px solid black;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

#url-input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.quarter-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100vh;
  z-index: 999;
}

.half-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  z-index: 999;
}

.three-quarters-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 75vw;
  height: 100vh;
  z-index: 999;
}

.full-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
